.bypass {
  display: block;
  width: 150px;
  margin: auto;
  height: 0;
  overflow: hidden;
  background-color: teal;
  color: #fff;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.bypass:focus {
  height: 25px;
  overflow: visible;
  transition: all 0.5s ease-in-out;
}

.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

.categoryWrapper div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#component {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#result {
  height: 40rem;
  border-radius: 10px;
  width: 40%;
  position: relative;
}

#previewCSS {
  position: relative;
}

#copy,
#copyCSS {
  border: 0;
  font-weight: bold;
  padding: 0.3rem;
  background: #ddd;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 2rem;
  border-top-right-radius: 10px;
}

#html5 {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  overflow-y: scroll;
}

#html5 pre {
  margin-top: 15px;
  tab-size: 2;
}

code {
  cursor: text;
}

caption {
  caption-side: top;
}

.previewPane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previewPane div {
  flex: 1;
  margin: 4px;
  border-radius: 10px;
}

.wcag-table {
  border-collapse: collapse;
  border: 1px solid #333;
}

.wcag-table th,
.wcag-table td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

footer {
  height: 150px;
  background-color: #2f3038;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

@media (max-width: 1000px) {
  #main,
  .previewPane {
    flex-direction: column;
  }

  #component,
  #result {
    width: 100%;
  }

  #component {
    margin-bottom: 2rem;
  }
}
